extends header

block content
	.cart-container
		.inner-space
			h2.startup About this startup
			
			p.startup1 DacRecipe is a startup initiated by Ganiu Olalekan Ibrahim a.k.a Mr Dac. It was built to create an intermediate market between buyers and seller. Also, to help passionate cooks to prepare dishes and also add their cooking skills to help others.
