extends header

block content
	.cart-container
		.inner-space
			.col-md-8.order-md-1
				h4.mb-3 Write a report about DacRecipe
				form(action='/report', method='post')
					.row
						.col-md-6.mb-3
							label(for='firstName') First name
							input.form-control(type='text', placeholder='', name='firstname', required='')
							.invalid-feedback
								| Valid first name is required.
						.col-md-6.mb-3
							label(for='lastName') Last name
							input#lastName.form-control(type='text', name='lastname',placeholder='', required='')
							.invalid-feedback
								| Valid last name is required.
					.mb-3
						label(for='email')
							| Email 
							span.text-muted
						input#email.form-control(type='email',name='email', placeholder='you@example.com')
						.invalid-feedback
							| Please enter a valid email address for shipping updates.
					.mb-3
						label(for='textarea')
							| Report 
							span.text-muted
						textarea#email.form-control(name='report',placeholder='Please write your reports')
						.invalid-feedback
							| Please enter your complains.
					hr.mb-4
					button.btn.btn-primary.btn-lg.btn-block(type='submit') Lay report
